<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
</head>
<body>
    <form method="post" action="/users/add">
        <input name="username" placeholder="enter username">
        <input name="email" placeholder="enter email">
        <input name="password" type="password" placeholder="enter password">
        <button>Submit</button>
    </form>
</body>
</html>