<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        table,tr,td,th{
            border: 1px solid black;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>username</h3>
            </th>
            <th>
                <h3>Email</h3>
            </th>
            <th>
                <h3>EDIT</h3>
            </th>
            <th>
                <h3>DELETE</h3>
            </th>
        </tr>
        <%for(res of result){%>
            <tr>
                <td>
                    <%=res.id%>
                </td>
                <td>
                    <%=res.username%>
                </td>
                <td>
                    <%=res.email%>
                </td>
                <td>
                    <form method="get" action="/users/<%=res.id%>">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <button>Delete</button>
                </td>
            </tr>
        <%}%>
    </table>
    
    <form method="get" action="/users/add">
        <button>ADD User</button>
    </form>
    
</body>
</html>