body{
    text-align: center;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: 3px solid black;
    margin: 5px;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}

.boxContainer{
    display: flex;
    justify-content: center;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}